<!doctype html>

{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ecolheita</title>
  <meta name="description" content="Ecolheita">
  <meta name="Kees van Ekeren" content="Ecolheita">
</head>

<body>
  <div id="entrypoint" class="container-fluid">
      <div class="row m-0 p-0">
        <div class="col-12 p-0 m-0">
            <img src="{% static "img/logo.png" %}" style="width:100%; height:auto;" class="img-responsive"></img>
        </div>
      </div>
  </div>
  <script src="js/main.js"></script>
</body>
</html>
